{% extends 'base.html.twig' %}

{% block body %}
    <label for="input">
        <input id="input" type="text" />
    </label>
    <button onclick="send()">Send</button>
    <pre id="output"></pre>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
        const socket = new WebSocket("ws://localhost:8080/ws");

        socket.onopen = function () {
            const output = document.getElementById("output");
            output.innerHTML += "Status: Connected\n";
        };

        socket.onmessage = function (e) {
            const output = document.getElementById("output");
            output.innerHTML += "Server: " + e.data + "\n";
        };

        function send() {
            const input = document.getElementById("input");
            socket.send(input.value);
            input.value = "";
        }
    </script>
{% endblock %}
